@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

body{
    
}
.open {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  /* background-image: url(c/developer.png) ,url(c/header_bg.png); */
  ba
}
header{
    background-image: url(c/developer.png) ,url(c/header_bg.png);
    background-repeat: no-repeat;
    background-position: 350px;
    background-size: contain;
 
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:  0px 200px;
    /* margin-top: px; */
    /* background-image: url(c/developer.png) ,url(c/header_bg.png); */

}
.button{
    background-color: #FD6E0A;
    padding: 15px 30px;
    font-weight: bold;
    color: wheat;
    border-radius: 5px;
    font-size: 20px;
    border: none;
}
.dark-2{
  color:#474747; 
  
}
.dark-3{
    color:#757575 ;
}
.dark-1{

}
.text-r{
    color: #FD6E0A;
}
.nav-title{
    font-weight: 800;
    font-size: 35px;

    

}
nav ul{
    display: flex;
    align-items: center;
    /* margin-right: 40px; */
}
nav ul li {
    list-style: none;
    margin-right: 44px;
    /* text-decoration: none; */
}
nav ul li a {
    text-decoration: none;
}
.baner{
    display: flex;
    position: 880px 200px;
    justify-content: space-between;
}


.con{
    padding: 18px 35px;
    color: #FD6E0A;
    border-radius: 5px;
}
.h{
  font-size: 40px;
}
.p{
    font-size: 8px;
    align-items: center;
    justify-content: center;
}
.img{
  width: 680px;px;
  height: 650px;
  margin-right: 20px;
}
  /* main */
  main{
 max-width: 1111px;
 margin: 0 auto;
 background-color:#FFF8F3;
 padding: 100px 150px;
  }
.s{
    margin: 50px;
}
.h2{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.text{
    font-size: 15px;
    color:#757575 ;
}
.about{
    border-radius: 10px;
    padding: 60px 100px;
    border: 1px solid rgb(24, 22, 22);

    }
    .items{
        /* display: flex; */
    }
    .about-item{
     display: flex;
     justify-content: space-around;
    }
    .mubin{
      text-align: center;
      margin: 0 auto;
      padding: 100px 200px;
      border-radius: 3px;
      /* border: 1px solid red; */
    }
    .peragrap{
    font-size: 15px;
    color: #181818;
    margin: 0 auto;

    }
    .abba{
        text-align: left;
        display: flex;
        /* margin: 0 auto; */
        justify-content:space-between;
    }
    .icon{
        border-radius: 9px;
        width: 267px;
        height: 300px;
        padding: 67px 77px;
    }
    .zihan{
        font-size: 10px;
    }
    .icon:hover{
        border: 1px solid rgb(0, 255, 34);
        background-color: rgb(136, 126, 126);
    }
    .amma{
        display: flex;
        text-align: left;
    }
    .sanjida{
        color: #757575;
        font-size: 15px;
    }
    .shib{
        color: #757575;
    }
    .zawad{
        color: #474747;
        font-weight: bold;
    }
    .siam{
        background-color: #FD6E0A;
        padding: 15px 30px;
        font-weight: bold;
        color: wheat;
        border-radius: 5px;
        font-size: 20px;
        border: none;
        text-align: center;
        margin: 0 auto;
    
    }
    
     