@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

body{
    
}
.open {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  /* background-image: url(c/developer.png) ,url(c/header_bg.png); */
  ba
}
header{
    background-image: url(c/developer.png) ,url(c/header_bg.png);
    background-repeat: no-repeat;
    background-position: 350px;
    background-size: contain;
 
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:  0px 200px;
    /* margin-top: px; */
    /* background-image: url(c/developer.png) ,url(c/header_bg.png); */

}
.button{
    background-color: #FD6E0A;
    padding: 15px 30px;
    font-weight: bold;
    color: wheat;
    border-radius: 5px;
    font-size: 20px;
    border: none;
}
.dark-2{
  color:#474747; 
  
}
.dark-3{
    color:#757575 ;
}
.text-r{
    color: #FD6E0A;
}
.nav-title{
    font-weight: 800;
    font-size: 35px;

    

}
nav ul{
    display: flex;
    align-items: center;
    /* margin-right: 40px; */
}
nav ul li {
    list-style: none;
    margin-right: 44px;
    /* text-decoration: none; */
}
nav ul li a {
    text-decoration: none;
}
.baner{
    display: flex;
    position: 880px 200px;
    justify-content: space-between;
}


.con{
    padding: 18px 35px;
    color: #FD6E0A;
    border-radius: 5px;
}
.h{
  font-size: 40px;
}
.p{
    font-size: 8px;
    align-items: center;
    justify-content: center;
}
.img{
  width:300px;
  height: 350px;
  margin-right: 250px;
}
.s{
    margin: 50px;
}